@font-face {
  font-family: 'ReSquareBold';
  src: url('/fonts/ReSquare-Bold.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'ReSquareMedium';
  src: url('/fonts/ReSquare-Medium.ttf') format('truetype');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'ReSquareRegular';
  src: url('/fonts/ReSquare-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Bicubik';
  src: url('/fonts/Bicubik-71qR.otf') format('otf');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

body {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 14pt;
}

#root {
  box-sizing: border-box;
  min-height: max(800px, 100vh);
  min-width: max(1000px, 100vw);

  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

:root {
  /* Основные цвета */
  --primary-color: #ffffff;
  --secondary-color-1: #e6e6e6;
  --secondary-color-2: #dcdcdc;
  --secondary-color-3: #9c9c9c;
  --secondary-color-4: rgba(0, 0, 0, 0.45);

  --black-text-color: #000000;
  --white-text-color: #ffffff;

  /* Ацентирование внимание */
  --accent-color-1: rgb(37, 33, 240);
  --accent-color-2: rgb(240, 33, 33);
  --accent-color-3: #389cff;
  --accent-color-4: #3859ff;
  --decent-color: rgb(144, 144, 144);

  /* Дополнительные цвета */
  --icon-color-1: rgb(91, 91, 91);

  --shadow-decoration: 3px 3px 10px #00000046;
}
