.textarea {
    font-size: 12pt;
    background-color: #F2F2F2;
    color: var(--black-text-color);

    outline: none;
    border: 0px;
    border-radius: 7.5px;
    padding: 10px 15px 10px 15px;
    
    resize: vertical;
    min-height: 150px;
    max-height: 600px;
}